/*CSS document*/

body {
    background-color: rgb(237,227,214)
    }
    
    div.container {
        max-width: 80em;
        margin: auto;
    }

    section{
        max-width: 40em;
        margin: 0 auto;
    }

    article{
        max-width: 40em;
        margin: 0 auto;
    }
    
    figure {
        margin: 0;
    }
    
    img {
        width: 100%;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    h1 {
        width: 7em;
    }
    
    h2{
    
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(31,81,74);
        text-decoration: none;
    }

    h3{
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:rgb(31,81,74);
        text-decoration: none;
        margin-top: 0.5em;
        margin-bottom: 0.5rem;
        font-size: 1.5em;
    }
    
    nav ul li {
        overflow: auto;
        list-style-type: none;
        display: inline;
        color:rgb(31,81,74);
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.3em;
        margin-right: 1em;
    }
    nav ul li a {
        color:rgb(31,81,74);
        text-decoration: none;
    }
    nav ul li a:hover {
        color: rgb(220, 97, 58);
    }
    
    p{
        font-family: "atrament-web", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em; 
        margin-top: 0.3rem;
        padding-bottom: 1.5rem;
    }
    
    a {
        color: rgb(0,0,0);
        text-decoration: none;
    }
    
    figcaption{
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em; 
        margin-bottom: 3.5em;
    }

    @media screen and (min-width: 60em){

        div.container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 0 1em;
        }
    
        header {
            grid-column: 1/3;
        }
    
        main {
            grid-column: 1/2;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0 1em;
        }

        section.mainstory{
                grid-column: 2/4;
                grid-row: 1/3;
                display: flex;
                flex-direction: column;
                
        }

        section.mainstory a{
            flex: 1 0 10em;
            display: flex;
            flex-direction: column;
        }

        section.mainstory a figure{
            flex: 1 0 10em;

        }

        section.mainstory a h3{
            flex: 0 0 auto;
        }

        section.mainstory a p{
            flex: 0 0 auto;
        }

        section.mainstory a figure img {
            height: 95%;
            object-fit: cover;
            
        }
        
    
        aside {
            grid-column: 2/3;
    
        }

        article{
            grid-column: 1/2;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 0 1em;
        }

    }

    img {
        width: 100%;
    }
    
     main.gallery {
        position: relative;
        overflow: hidden;
        padding-bottom: calc(100% + 35em);
        grid-column: 1/3;
    }
    
    figure.gallery {
        margin: 0;
        width: calc(100%-2em);
        position: absolute;
        opacity: 0;
        transition: .5s;
        object-fit: cover;
    }
    
    figure.gallery figcaption {
        font-size: 1.2em;
        font-weight: bold;
        margin: 1em 0;
        color:rgb(31,81,74);
    }
    
    
    input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
    input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
    input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
    input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
    input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
    input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
    input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
    input:nth-of-type(8):checked ~ main figure:nth-of-type(8)
    
    
    {
        
        opacity: 1;
    }


    div.gallery input{
        opacity:0;
    }
    
    nav.gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .1em;
    }
    
    div.gallery {
        grid-column: 1/4;
        max-width: 70em;
        margin: 0 auto;
        padding: 1em;
    }


    */FORM/

    main.form {
            position: relative;
            grid-column: 1/3;
            margin: auto;
        }

    
    section.personal-info ul li {
        display: flex;
        flex-wrap: wrap;
        margin: 1em;
    }
    
    section.personal-info {
        padding: .5em 1em .5em 1em;
        border-radius: 1em;
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em; 
    }
    
    section.topics {
        padding: .5em 0em .5em 1em;
        border-radius: 1em;
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em; 
    }
    
    section.personal-info ul li label {
        flex: 0 0 9em;
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em; 
    }
    
    section.personal-info ul li input[type="text"], section.personal-info ul li input[type="tel"], section.personal-info ul li input[type="email"], section.personal-info ul li select {
        flex: 4 0 28em;
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8em; 
    }

    section.order ul, section.method ul {
        display: flex; 
        flex-wrap: wrap; 
        }
    
    section.order ul li , section.method ul li {
        flex: 1 0 13em; 
        }
    
    section.topics ul {
        display: flex;
        flex-wrap: wrap;
    }

     section.topics ul li {
        margin: 0 2em 0 0;
        flex: 1 0 20em;
        text-indent: 1em;
    }
    
    section.newsletter button{
        margin: 3em 1.5em;
        font-family: "the-seasons", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9em; 
    }

    div.form{
        grid-row: 2/4;
    }

    section.subsribe{
        font-size: 1.5em;
    }

    @media screen and (prefers-color-scheme: dark){

        body{
            background-color: rgb(14, 47, 43);;
            color:rgb(220, 97, 58)
        }

        h1 {  
            background-image: url("Alt\ Logoai.svg");  
            background-repeat: no-repeat;  
            background-size: contain;  
            }  

        h1 img {  
            opacity: 0;  
            }  

            h2{
    
                font-family: "the-seasons", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: rgb(237,227,214);
                text-decoration: none;
            }
        
            h3{
                font-family: "the-seasons", sans-serif;
                font-weight: 400;
                font-style: normal;
                color:rgb(237,227,214);
                text-decoration: none;
                margin-top: 0.5em;
                margin-bottom: 0.5rem;
                font-size: 1.5em;
            }
            
            nav ul li {
                overflow: auto;
                list-style-type: none;
                display: inline;
                color:rgb(237,227,214);
                font-family: "the-seasons", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.3em;
                margin-right: 1em;
            }
            nav ul li a {
                color:rgb(237,227,214);
                text-decoration: none;
            }
            nav ul li a:hover {
                color: rgb(237,227,214);
            }

            p{
                font-family: "atrament-web", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1em; 
                margin-top: 0.3rem;
                padding-bottom: 1.5rem;
                color: rgb(237,227,214)
            }
            
            a {
                color: rgb(237,227,214);
                text-decoration: none;
            }
            
            figcaption{
                font-family: "the-seasons", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1em; 
                margin-bottom: 3.5em;
                color: rgb(237,227,214);
            }

            figure.gallery figcaption {
                font-size: 1.2em;
                font-weight: bold;
                margin: 1em 0;
                color:rgb(237,227,214);
            }
    }